


.main{
    border: 2px solid black;
    width: 300px;
    height: 470px;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: 10px;
    background-color: black;
    outline: none;
    text-align: center;
}


.result{
    width: 290px;
    height: 100px;
    background-color:black;
    border: 0;
    color:white;
    font-weight: bolder;
    font-size: 3em;
    text-align: right;
    outline: none;
    align-items: center;
    
}

.btn{
    width: 65px;
    height: 65px;
    background-color: #333333;
    color: white;
    border-radius: 50%;
    border-width: 0;
    border: 0;
    text-emphasis: bold;
    margin: 3px;
    font-size: 1.5em;
    font-weight: bolder;
    opacity: 0.8;
    outline: none;
    text-align: center;


}

.btnn{
    width: 65px;
    height: 65px;
    background-color: #a5a5a5;
    color: black;
    border-radius: 50%;
    border-width: 0;
    border: 0;
    text-emphasis: bold;
    margin: 3px;
    font-size: 1.5em;
    font-weight: bolder;
    opacity: 0.8;
    outline: none;
    text-align: center;

}


.btn-opr{
    
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color:#ff9f0b;
    color: white;
    border: 0;
    margin: 1px;
    font-weight: bolder;
    font-size: 1.5em;
    opacity: 0.8;
    outline: none;
    text-align: center;

}



.btn:hover{
    opacity: 1;
    cursor: pointer;
}
.btnn:hover{
    opacity: 1;
    cursor: pointer;
}
.btn-opr:hover{
    opacity: 1;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .main{
       width: 100%;
       height: 100%;
     }
   }


 